.discount{
    display: flex;
    margin-left: 50px;
    gap: 20px;
}
.buggerdiscount{
    width: 600px;
    height: 500px;
}
.balls{
    width: 400px;
    height: 250px;
}
.icecream{
    width: 400px;
    height: 250px;
}