/* .discount{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 50px;
    gap: 20px;
} */
.discount {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
.buggerdiscount{
    width: 600px;
    height: 500px;
}
.balls{
    width: 400px;
    height: 250px;
}
.icecream{
    width: 400px;
    height: 250px;
}
  