.three{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.two{
    display: flex;
    gap: 40%;
}
.buggerr{
    width: 350px;
    height: 350px;
    margin-top: 20px;
}
.frenchfries{
    width: 400px;
    height: 400px;
}
.pizza{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}
.chickenn{
    margin-top: 59px;

}
.chicken{
    margin-top: 20px; 
}
