.fast{
    display: flex;
}
.description{
    display: flex;
}
.buttons{
    display: flex;
}

.landpage{
   display: flex;
   gap: 20%;
   padding: 40px;
   background-color:rgb(254 226 226);	
}
.food{
    color: red;
    font-size: 30px;
}
.but{
    display: flex;
    gap: 20px;
    border-radius: 40%;
}

