.footer{
    gap: 20%;
    background-color:rgb(254 226 226);	
    /* margin-left: 20%; */
}
td{
    color: red;
}
tr{
    font-weight: lighter;

}
table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  